#venue-list {
    opacity: 0;
    position: absolute;
    top: 160px;
    left: 0;
    background: #eee;
    width: 94%;
    margin-left: 3%;
    height:200px;

    margin-top: -20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            height: 50px;
            display: block;
                border-bottom: 1px solid #ccc;
            div {
                padding-top: 15px;
                padding-left: 20px;
            }
        }
        a {
        	text-decoration: none;
        }
    }
}