<script src="http://debug.phonegap.com/target/target-script-min.js#healthyfood340598jhg"
	data-url="ttp://debug.phonegap.com/client/#healthyfood340598jhg"
></script>

<div id="menu">

	<ul>
        <li class="active">
            <a href="#">
                <strong>Home</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <strong>Settings</strong>
            </a>
        </li>
    </ul>

</div>
<div id="menu-bg"></div>

<header>
    <h1>Healthy Food Compass</h1>
    <button class="btn" id="menu-button">Menu</button>
    <button class="btn" id="map-close">Close</button>
</header> 
<div id="map-wrapper">
	<a href="#" id="map-overlay"></a> 
	<div id="map-small"></div> 
</div>

<div class="btn-toolbar" style="padding: 20px;">
  <div class="btn-group">
    <button class="btn" id="take-picture">Take Picture</button>
  </div>
  <div class="btn-group">
    <button class="btn" id="facebook-login">Login with Facebook</button>
  </div>
</div>

<div id="myImage"></div>

<div id="fb-root"></div>
